@{
    ViewData["Title"] = "Home Page";
    <link async rel="stylesheet" href="~/css/index.css" />
}
@*title*@
<h2 class="text-center pb-5">
    Bienvenue sur <span class="logo-title" style="font-size: 40px"> MaFormationPlus</span>
</h2>
<h4 class="text-center">Prochaines sessions</h4>
@*home slide view*@
<div class="d-flex justify-content-center align-items-center mx-auto" style="max-width: 1070px;">
    <span class="material-icons chevron left">chevron_left</span>
    <div class="items">
        @{
            string[] tab = {
        "../assets/sessions/session.png",
        "../assets/sessions/session1.png",
        "../assets/sessions/session2.png",
        "../assets/sessions/session3.png",
        "../assets/sessions/session4.png",
        };
            foreach (var item in tab)
            {
                <div class="item">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                <img class="d-block" src=@item alt="First slide">
                            </p>
                            <a href="#" class="btn btn-primary w-100">S'inscrire</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <span class="material-icons chevron right">chevron_right</span>
</div>
@*carrer list*@
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <h4 class="">Toutes les sessions</h4>
            <hr />
        </div>

    </div>

    @*carrer-block*@
    <div class="row my-5 g-0 carrer-block">
        @foreach (var item in tab)
        {
            <div class="col">
                <div class="container-fluid">
                    @*carrer*@
                    <div class="row">
                        <div class="col ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <img class="d-block" src=@item alt="First slide" />
                                    </p>
                                    <a href="#" class="btn btn-primary w-100">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    <script defer src="~/js/index.js"></script>
}
