@page
@using MaFormaPlusCoreMVC.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    <link async rel="stylesheet" href="~/css/site.css" />
}

<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-center" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="d-flex justify-content-center modal-header-block" style="background-color: #00ACC1">
                        <a asp-controller="Home" asp-action="Index" class="material-icons icon-back text-white" style="position:absolute; left: 10px; top: 5px;">backspace</a>
                        <div class="d-flex flex-column">
                            <h5 class="modal-title text-center text-white" id="login-modal-title">MaFormationPlus</h5>
                            <h6 class="modal-title text-center text-white" id="login-modal-title">S'inscrire</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="container-fluid" style="padding: 0">
                                <div class="row ">
                                    <div class=" col form-floating pb-2">
                                        <input asp-for="Input.Nom" class="form-control" autocomplete="nom" aria-required="true" />
                                        <label asp-for="Input.Nom" class="px-4"></label>
                                        <span asp-validation-for="Input.Nom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-floating pb-2">
                                        <input asp-for="Input.Prenom" class="form-control" autocomplete="prenom" aria-required="true" />
                                        <label asp-for="Input.Prenom" class="px-4"></label>
                                        <span asp-validation-for="Input.Prenom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col form-floating pb-2">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                        <label asp-for="Input.Email" class="px-4"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-floating pb-2">
                                        <input asp-for="Input.DateDeNaissance" type="date" class="form-control dateInput" autocomplete="age" aria-required="true" min="" />
                                        <label asp-for="Input.DateDeNaissance" class="px-4"></label>
                                        <span asp-validation-for="Input.DateDeNaissance" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label for=" ">Adresse</label>
                                    <div class="col-2 form-floating pb-2">
                                        <input asp-for="Input.AdresseNum" type="number" class="form-control" autocomplete="address" aria-required="true" min="1" max="1000" />
                                        <label asp-for="Input.AdresseNum" class="px-4"></label>
                                        <span asp-validation-for="Input.AdresseNum" class="text-danger"></span>
                                    </div>
                                    <div class="col form-floating pb-2">
                                        <input asp-for="Input.AdresseNom" type="text" class="form-control" autocomplete="address" aria-required="true" />
                                        <label asp-for="Input.AdresseNom" class="px-4"></label>
                                        <span asp-validation-for="Input.AdresseNom" class="text-danger"></span>
                                    </div>
                                    <div class="col-3 form-floating pb-2">
                                        <input asp-for="Input.CodePostal" type="number" class="form-control" autocomplete="address" aria-required="true" min="1000" max="98890" step="10" />
                                        <label asp-for="Input.CodePostal" class="px-4"></label>
                                        <span asp-validation-for="Input.CodePostal" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-floating pb-2">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.Password" class="px-4"></label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-floating pb-2">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.ConfirmPassword" class="px-4"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const dateInput = document.querySelector(".dateInput");
        dateInput.min = "1872-01-01";
        dateInput.max = new Date().toISOString().split("T")[0];
        console.log(dateInput);
    </script>
}
