.select {
    outline: unset;
}

    .select:invalid {
        border: solid red 1px;
    }

    .select:valid + .test {
        visibility: collapse;
    }

    .select:invalid + .test {
        visibility: visible;
    }
