@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-image: url("../assets/backgrounds/main-bg.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.navbar {
    background-color: #00ACC1 !important;
    color: white!important;
}

.icon-back:hover {
    cursor: pointer;
}

.modal-header-block > a {
    text-decoration: none;
    color: black;
}

.logo-title {
    font-family: 'Mouse Memoirs', sans-serif;
}

.btn-style {
    border-radius: 0.25rem;
    width: 100%;
    border: solid grey 1px;
    background-color: #0d6efd;
    background-color: transparent;
    color: white;
    padding: 6px 12px;
    color: black;
    text-decoration: unset;
    margin: 5px;
    text-align: center;
    transition: all linear 0.3s;
}

    .btn-style:hover {
        background-color: #0d6efd;
        color: white;
        border: solid #0d6efd 1px;
    }

.item-card {
    width: 18rem;
    display: inline-block;
    padding: 14px;
    background-color: white;
    margin: 2em 1em;
    padding: 0px;
    transition: all linear 0.2s;
}

    .item-card:hover {
        box-shadow: 7px 7px 15px;
    }

.item-card-nohover {
    width: 18rem;
    display: inline-block;
    padding: 14px;
    background-color: white;
    margin: 2em 1em;
    padding: 0px;
    border-radius: 5px 5px 0 0;
    box-shadow: 7px 7px 10px rgba(120, 117, 117, 0.5);
}

.item-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 14px;
}

.item-card, .item-card-img {
    border-radius: 5px 5px 0 0;
}


.select {
    outline: unset;
}

    .select:invalid {
        border: solid red 1px;
    }

    .select:valid + .errmsg {
        visibility: collapse;
    }

    .select:invalid + .errmsg {
        visibility: visible;
    }


.select-choice {
    border-radius: 5px;
    border: solid rgba(118, 118, 118, 0.4) 1px;
    height: 35px;
}

    .select-choice:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    }
