@model MaFormaPlusCoreMVC.Models.Session

@{
    ViewData["Title"] = "Create";
}

<h4>Nouvelle session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group pt-4">
                <label for="parcours" />
                <select name="parcours" id="parcours">
                    <option value="">--Selection parcours--</option>
                    <option value="dog">Dog</option>
                </select>
            </div>
            <div class="form-group  d-flex mt-4">
                <input type="submit" value="Créer" class="btn-style" />
                <a asp-controller="Home" asp-action="Index" class="btn-style">Retour accueil</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
