@model MaFormaPlusCoreMVC.Models.Session

@{
    ViewData["Title"] = "Create";
    <link async rel="stylesheet" href="~/css/session.css" />

}

<h4>Nouvelle sessions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debut" class="control-label"></label>
                <input asp-for="Debut" type="date" id="debut" class="form-control" />
                <span asp-validation-for="Debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" type="date" id="fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group pt-4">
                <label for="parcours" />
                <select name="selectedParcours" id="selectedParcours" class="select" required>
                    <option value="">--Selection parcours--</option>
                    @foreach (Parcours item in ViewBag.parcours)
                    {
                        <option value=@item.Id>@item.Nom</option>
                    }
                </select>
                <span class="text-danger test">Must select a choice</span>
            </div>
            <div class="form-group  d-flex mt-4">
                <input type="submit" value="Créer" class="btn-style" />
                <a asp-controller="Home" asp-action="Index" class="btn-style">Accueil</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var start = document.getElementById('debut');
        var end = document.getElementById('fin');

        start.addEventListener('change', function() {
            if (start.value)
                end.min = start.value;
        }, false);
    
    </script>
    }
