@model MaFormaPlusCoreMVC.Models.Session

@{
    ViewData["Title"] = "Edit";
    <link async rel="stylesheet" href="~/css/session.css" />
}

<h4>Modification session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debut" class="control-label"></label>
                <input asp-for="Debut" class="form-control" />
                <span asp-validation-for="Debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-column pt-4">
                <label for="selectedParcours" class="mb-1" >Selection parcours</label>
                <select name="selectedParcours" id="selectedParcours" class="select-choice" style="height: 35px">
                        @foreach (Parcours parcours in ViewBag.parcours)
                        {
                            if (parcours.Id == Model.ParcoursId)
                            {
                                <option value=@parcours.Id selected>@parcours.Nom</option>
                            }
                            else
                            {
                                <option value=@parcours.Id>@parcours.Nom</option>
                            }
                        }
                    </select>
            </div>
            <div class="form-group  d-flex mt-4">
                <input type="submit" value="Enregister" class="btn-style" />
                <a asp-controller="Home" asp-action="Index" class="btn-style">Accueil</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
