@model MaFormaPlusCoreMVC.Models.Session

@{
    ViewData["Title"] = "Edit";
}

<h4>Modification session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debut" class="control-label"></label>
                <input asp-for="Debut" class="form-control" />
                <span asp-validation-for="Debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group  d-flex mt-4">
                <input type="submit" value="Modifier" class="btn-style" />
                <a asp-controller="Home" asp-action="Index" class="btn-style">Retour accueil</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
