@model MaFormaPlusCoreMVC.Models.Parcours

@{
    ViewData["Title"] = "Edit";
}

<h4>Modification parcours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input name="file" type="file" class="form-control image-input" accept="image/*" />
                <span asp-validation-for="Logo" class="text-danger"></span>
                <div class="col d-flex flex-grow-0 mt-5 mb-3">
                    <figure class="item-card-nohover m-0">
                        <img src="@Model.Logo" class="item-card-img image-card" />
                        <figcaption style="padding: 10px;">
                            <div class="">Apercu du logo</div>
                            <div class="d-flex align-items-center">
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="form-group d-flex flex-column pt-4">
                <select name="selectedModule" id="selectedModule" class="select-choice">
                    <option value="">--Selection module--</option>
                    @foreach (Module module in ViewBag.modules)
                    {
                        if (module.ParcoursId == Model.Id)
                        {
                            <option value=@module.Id selected>@module.Nom</option>
                        }
                        else
                        {
                            <option value=@module.Id>@module.Nom</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group  d-flex mt-4">
                <input type="submit" value="Enregistrer" class="btn-style" />
                <a asp-controller="Home" asp-action="Index" class="btn-style">Accueil</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // on image change modification
        $(document).ready(function() {
            $(".image-input").change(function() {
                $(".image-card").attr("src", window.URL.createObjectURL(this.files[0]));

            });
        });
    </script>
    }
